/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  /* --header-height: 3rem; */
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: #4070F4;
  --second-color: #0E2431;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}


/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/

*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  width: 100%;
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background: whitesmoke;
  /* background-image: url('../images/piqsels.com-id-fpvni.jpg'); */
}

h1,
h2,
p {
  margin: 0;
}

@font-face {
  font-family: "Autumn in November";
  src: url(../fonts/Autumn_in_November.ttf);
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url(../fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: "Olivia-Regular";
  src: url(../fonts/Olivia-Regular.otf);
}


#cover {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #0E2431;
  color: azure;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000000ab, #000000a7), url('../images/170760327_784660532461143_7965157172761588213_n.jpg');
  background-size: 100% 100%;
}

.content_cover{
  width: 100%;
}

.content_cover #text_mempelai_cover {
  font-family: "Autumn in November";
  font-size: 40pt;
  color: #d28bfc;
}



#home {
  /* background: #10031b;  */
  /* margin-left:20px; */
  /* margin: auto;  */
  padding: 20px;
  /* padding: auto;     */
}

#first_page {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

#cover-undangan {
  background-image: url("../../assets/images/bingkai-undangan-34119.png");
  background-size: 100% 100%;
  background-position: 90% center;
  /* font-family: "CaviarDreams_Bold"; */
  color: #0E2431;
  min-height: 500px;
}

#undangan {
  font-family: "CaviarDreams_Bold";
  font-weight: bold;
}

#text__mempelai {
  font-family: "Autumn in November";
  color: #d69600;
}

.cover #text_mempelai_cover {
  font-family: "Autumn in November";
  color: #FFBF00;
}

.nama__tamu {
  padding: 8px;
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  border-radius: 2mm;
  border: 1px solid white;
}

.home_tittle_acara {
  font-family: "CaviarDreams_Bold";
}

.bg-countdown{
  background: #85a6ff14;
}
.bg-countdown span{
  color: #0E2431;
}

/* #foto_mempelai1, #foto_mempelai2 { */
/* width: 40%;
  height: 50%; */
/* border-radius: 50%; */
/* } */

#mempelai {
  
}

#lokasi {
  margin-bottom: 100px;
}

.container {
  margin-top: 0;
}

.no-rekening {
  /* width: 30%; */
  margin: auto;
  border-radius: 5px;
}

.no-rekening input {
  border: none;
  font-size: 20pt;
  letter-spacing: 2px;
  text-align: center;
}

.no-rekening input:disabled {
  background-color: whitesmoke;
}

.box__comments{
  min-height: 40%;
  height: 500px;
  background: #85a6ff14;
}

.chat__box {
background: #ffffff;

}

.carousel-inner .carousel-item {
  transition-duration: .5s;
}

.footer__text {
  font-family: "Autumn in November";
}

/* .chat__box::before{ */
  /* content : ' '; */
  /* position: relative; */
  /* top: 0; */
  /* left: 20px; */
  /* top: 15px; */
  /* width: 50px; */
  /* height: 30px; */
  /* border-bottom:solid 120px yellow;
	border-left:solid 80px transparent;
	border-right:solid 80px transparent; */
  /* background: linear-gradient(-255deg, #ffffff 50%, #ffffff 0%, transparent 50%, transparent); */
  /* transform: rotate(0deg); */
/* } */




.animation {
  animation-delay: 2s;
  transition-delay: 2s;
}

#inputBank1, #inputBank2 {
  height: 50px !important;
  background: #85a6ff26;
}



/* -------- */


.col-md-3 {
  width: 50%;
  clear: both;
}

.col-md-3:hover {
  width: 100%;
}

.gold__text {
  color: #d69600;
}

.font__autumn {
  font-family: "Autumn in November";
}

.text__heading{
  font-family: "CaviarDreams_Bold" !important;
}