#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 280px;
    font-size: 17px;
  }
  
  #snackbar1.show {
    /* transform: translateX(-50%); */
    visibility: visible;
    -webkit-animation: fadein1 0.5s, fadeout1 0.5s 2.5s;
    animation: fadein1 0.5s, fadeout1 0.5s 2.5s;
  }

   @-webkit-keyframes fadein1 {
    from {bottom: 250px; opacity: 0;} 
    to {bottom: 280px; opacity: 1;}
  }
  
  @keyframes fadein1 {
    from {bottom: 250px; opacity: 0;}
    to {bottom: 280px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout1 {
    from {bottom: 280px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout1 {
    from {bottom: 280px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  #snackbar2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 280px;
    font-size: 17px;
  }
  
  #snackbar2.show {
    /* transform: translateX(-50%); */
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 250px; opacity: 0;} 
    to {bottom: 280px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 250px; opacity: 0;}
    to {bottom: 280px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 280px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 280px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }